<nav class="navbar navbar-dark bg-dark px-3 d-flex justify-content-between">
  <span class="navbar-brand mb-0 h1 text-light"
    >Welcome to our info site about SpaceX missions!</span
  >
  <button class="btn btn-outline-light" (click)="goBack()">Go back</button>
</nav>
<div class="latest-launch-page d-flex align-items-center justify-content-center">
  <div *ngIf="loading" class="text-light">Loading...</div>
  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <div *ngIf="launch" style="max-width: 350px; width: 100%">
    <app-launch-card [launch]="launch"></app-launch-card>
  </div>
</div>
